:root {
  --color-accent-cyan: #26baa4;
  --color-accent-cyan-shadow: #229c87;
  --color-accent-blue: #6173ff;
  --color-accent-blue-shadow: #4f62d8;
  --color-primary: #4c545d;
  --color-secondary: #9fabb2;
  --color-background: #fff;
  --color-background-secondary: #f5f6f8;

  --fs-xl: 3rem;
  --fs-700: 2.8rem;
  --fs-600: 2.4rem;
  --fs-500: 1.8rem;
  --fs-400: 1.6rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

.container {
  width: 85%;
  margin: 0 auto;
}

/* Typography */
html {
  font-size: 62.5%;
}

body {
  font-family: "Bai Jamjuree", Arial, sans-serif;
  font-size: var(--fs-400);
  color: var(--color-secondary);
}

h1,
h2,
h3 {
  font-weight: 600;
  color: var(--color-primary);
}

h1 {
  font-size: var(--fs-xl);
}

h2 {
  font-size: var(--fs-700);
  margin-bottom: 0.8em;
}

h3 {
  font-size: var(--fs-600);
  margin-bottom: 0.4em;
}

p {
  line-height: 1.6;
}

/* Button */
.btn {
  margin: 2.4rem 0; /* to be removed */
  display: block;
  text-decoration: none;
  text-align: center;
  background-color: var(--color-primary);
  color: var(--color-background);
  width: auto;
  padding: 1em 3em;
  border-radius: 100px;
  transition: opacity 0.1s ease-in-out;
  font-size: var(--fs-500);
  font-weight: 600;
}

.btn:hover,
.btn:focus {
  opacity: 0.8;
}

.btn--cyan {
  position: relative;
  background-color: var(--color-accent-cyan);
  box-shadow: inset 0 -2px 1px 1px var(--color-accent-cyan-shadow);
}

.btn--cyan::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 100px;
  box-shadow: 0 5px 15px 0.5px #5fcebda8;
}

.btn--blue {
  position: relative;
  background-color: var(--color-accent-blue);
  box-shadow: inset 0 -2px 1px 1px var(--color-accent-blue-shadow);
}

.btn--blue::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 100px;
  box-shadow: 0 5px 15px 0.5px #656fb991;
}

/* Hero */
.hero {
  text-align: center;
  padding: 7rem 0;
  background-image: url(../images/bg-header-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 7rem;
}

.hero__logo {
  padding: 5rem 0;
}

.hero__text {
  margin-bottom: 3em;
}

/* Section */
.section {
  text-align: center;
  margin-bottom: 12rem;
}

.section__text {
  margin-bottom: 3rem;
}

.section__img {
  width: 100%;
  margin: 6rem 0;
}

.section__img--margin {
  margin: 6rem 0 0;
}

.section__icon {
  margin: 5rem 0;
}

p + h3 {
  margin-top: 2em;
}

/* Company logo */
.logo-group {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  justify-items: center;
  gap: 7rem;
  margin-bottom: 12rem;
}

/* Footer */
.footer {
  text-align: center;
  font-size: var(--fs-500);
  background: var(--color-background-secondary);
}

.footer__logo {
  width: 55px;
  margin: 6rem 0;
}

.footer-list {
  padding-left: 0;
}

.footer-list__item {
  list-style-type: none;
  padding-bottom: 1.5em;
}

.footer-list__link {
  text-decoration: none;
  color: var(--color-primary);
}

.footer-list__link:hover {
  color: var(--color-accent-cyan);
}

.footer__social-links {
  margin: 2rem 0 4rem;
}

.social-link + .social-link {
  padding-left: 3rem;
}

.social-link:hover .social-link__icon {
  filter: invert(53%) sepia(62%) saturate(490%) hue-rotate(122deg)
    brightness(102%) contrast(89%);
}

/* Attribution */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: var(--color-accent-blue);
  font-weight: 600;
  text-decoration: none;
}

.attribution a:hover,
.attribution a:focus {
  color: var(--color-accent-cyan);
}
